<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
 <h5 class="text-center" style="color:white;">Welcome to ContactSphere, your ultimate contact management solution!</h5>

  <p class="ml-5 mr-5 mt-4" style="color:white;">ContactSphere is designed to simplify and streamline your contact management tasks, helping you stay organized and connected effortlessly. Whether you're a busy professional,
    a small business owner, or an individual managing personal contacts, our app has everything you need to stay on
    top of your contacts.</p>

  <h6 class="ml-5 mr-5" style="color:white;">Key Features:</h6>

  <p class="ml-5 mr-5" style="color:white;">Effortless Contact Management: Easily add, edit, and organize your contacts in one central location.</p>
  <p class="ml-5 mr-5" style="color:white;">Intuitive Interface: User-friendly design for seamless navigation and interaction.</p>
  <p class="ml-5 mr-5" style="color:white;">Customizable Tags and Categories: Categorize your contacts with tags and categories for easy sorting and filtering.</p>
  <p class="ml-5 mr-5" style="color:white;">Advanced Search: Quickly find any contact using powerful search functionality.</p>
  <p class="ml-5 mr-5" style="color:white;">Secure Data Storage: Your data is securely stored and accessible only to you.</p>
  <p class="ml-5 mr-5" style="color:white;">Cross-Platform Compatibility: Access your contacts from anywhere, anytime, on any device.</p>
<br>
  <br>
  <p style="color:white;"> ContactSphere is more than just a contact manager; it's your personal assistant for staying connected and organized. Download now and experience the difference!</p>
</section>
</body>
</html>